@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
 themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #a40c1a;
  --color-secondary: teal;
  --color-base-100: #FFFFFF;
  --color-base-200: #F5F5F7;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  color-scheme: dark;
  --color-primary: #a86832;
  --color-secondary: #fff;
  --color-base-100: #111A28;
  --color-base-200: #2A2A3C;

}

/* inter google font */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}